.headerLogoLogin {
    background-color: rgb(234 245 254);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 20px;
}

.headerBotonIniciaSesion {
    background-color: #083359;
    color: #FFFFFF;
    border: 1px solid #083359;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.headerBotonIniciaApagado{
    visibility: hidden;
}

.navStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 16px 16px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(234 245 254);
}

.aInicio {
    font-weight: 900;
    color: rgba(1, 118, 211, 1);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 4px solid rgba(1, 118, 211, 1);
    font-size: 20px;
}

.aLinks {
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
    border-bottom: 4px;
    color: #696969;
}

.aLinks:hover {
    color: #484747;
    font-weight: 400;
    transition-duration: 2s;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .AppLogo {
        max-width: 40%;
        max-height: 40%;
    }

    .headerBotonIniciaSesion {
        font-size: inherit;
        padding: 4px;
    }

    .navStyle {
        justify-content: space-around;
    }
}