.fondoColor {
    background-color: lightgrey;
}

.contenedorPrincipal {
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-sizing: border-box;
}

.singUpForm {
    height: calc(80vh - 4vw);
    width: 48vw;
    border-radius: 20px 0 0 20px;
    background-color: white;
    padding: 2vw;
}

.formLabel {
    padding-top: 10%;
    font-size: 1.5em;
    padding-bottom: 1rem;
    font-family: Inter;
    font-weight: bolder;
    color: #083359
}

.inputContainer {
    font-weight: bold;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.input {
    box-sizing: border-box;
    border: white;
    border-bottom: 1.5px solid steelblue;
    padding: 1.775rem 0.5rem 0.5rem;
    height: 3.75rem;
    width: 100%;
    color: #083359;
    font-weight: bold;
    font-size: 1.1rem;
}

.inputError {
    box-sizing: border-box;
    border: white;
    border-bottom: 1.5px solid #f24607;
    padding: 1.775rem 0.5rem 0.5rem;
    height: 3.75rem;
    width: 100%;
    color: #083359;
    font-weight: bold;
    font-size: 1.1rem;
}

.input::placeholder {
    visibility: hidden;
    color: #15186D;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
  }

.inputError::placeholder {
    visibility: hidden;
    color: #f24607;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.input:focus {
    outline: none;
  }

.inputError:focus {
    outline: none;
}


.inputLabel {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 1.2em;
    transition: all 0.25s;
    color: #083359;
    font-family: 'Montserrat', sans-serif
}

.inputLabelError {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 1.2em;
    transition: all 0.25s;
    color: #f24607;
    font-family: 'Montserrat', sans-serif
}

.input:focus + .inputLabel,
.input:not(:placeholder-shown) + .inputLabel  {
    font-size: 1rem;
    top: 0.25rem;
    transition: all 0.25s;
    color: #15186D;
    font-weight: normal;
  }

.inputError:focus + .inputLabelError,
.inputError:not(:placeholder-shown) + .inputLabelError  {
    font-size: 1rem;
    top: 0.25rem;
    transition: all 0.25s;
    color: #f24607;
    font-weight: normal;
  }

.error {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #f24607;
    font-size: 18px;
}

.button {
    background-color: #0B2F8A;
    border-color: #0B2F8A;
    border-radius: 13px;
    width: 100%;
    margin-top: 2.1rem;
    max-width: 13rem;
    padding: 0.700rem;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    transition: 0.6s;
  }

.button:hover {
  background-color: #FFFFFF;
  padding: 0.640rem;
  color:#0B2F8A;
  border-style: solid;
  border-color: #0B2F8A;
  border-width: thin;
}

.divTienesCuenta {
    padding-top: 2rem;
}

.TienesCuenta {
    font-family: Montserrat;
    color: #15186D;
    font-size: 1.175rem;
    font-weight: lighter;
  }

.iniciaSesion {
    color: #0B2F8A;
    font-weight: bold;
    text-decoration: none;
    padding-left: 4px;
  }

.imagenSingUp {
    max-height: 80vh;
}

.imagen{
    border-radius: 0 20px 20px 0;
}

.textoImagen {
    position: absolute;
    top: 26vh;
    left: 63vw;
    font-family: Montserrat;
    color: #f5f5f5;
    font-size: 1.7em;
    font-weight: bold;
    width: 26vw;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {

    .imagenSingUp {
        width: 0;
    }

    .imagen {
        visibility: hidden;
        width: 0%;
    }

    .textoImagen {
        visibility: hidden;
    }

    .singUpForm {
        height: 100%;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 20px;
    }
}